@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@500&display=swap');

.header{
    min-height: 880px;
    background: rgb(244,250,253);
    background: linear-gradient(54deg,
              rgba(244,250,253,1) 0%,
              rgba(231,244,252,1) 25%,
              rgba(241,246,247,1) 50%, 
              rgba(222,236,243,1) 100%);
    padding-top: 24px;

    .btt{
        position: relative;
    }
   
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 250px;

        .logo{
            font-size: 32px;
            letter-spacing: 1px;
            line-height: 47px;
            font-weight: 500;
            color: rgba(64, 163, 248, 1)
        }

        .navs{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &:nth-child(n){
                font-family: sans-serif, 'Roboto';
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
            }

            .nav{
                color: rgba(110, 95, 95, 0.5);   
                margin-left: 47px;
            }

            .active{
                color: rgba(64, 163, 248, 1);
                font-weight: 600;
            }

            .connecting{
                width: 142px;
                height: 47px;
                background-color: rgba(64, 163, 248, 1);
                color: white;
                border-radius: 5px;
                margin-left: 47px;
                padding: 12px;
            }
        }

    }

    .sitetitle{
        width: 600px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        h1{
            line-height: 70px;
            font-weight: 700px;
            font-size: 48px;
            color:rgba(62, 62, 62, 1);
            text-align: left;

            span{
                color:rgba(64, 163, 248, 1)
            }
        }

        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: rgba(117, 117, 117, 0.46);
            text-align: left;
            margin-top: 30px;
        }
        .phone-icon{
            font-size: 18px;
            text-align: left;
            margin-top: 40px;

            svg{
                font-size: 24px;
                position: relative;
                top: -2px;
            }
        }

        div{
            width: 220px;
            height: 69px;
            background-color: rgb(64, 163, 248);
            color: white;
            border-radius: 5px;
            padding: 15px;
            font-size: 24px;
            margin-top: 20px;
        }
    }

    .partriet{
        position: absolute;
        width: 600px;
        height: 600px;
        top: 200px;
        right: -100px;

        @media (max-width: 1550px) {
            right: 0;
        }

        .part1{
            width: 586px;
            height: 586px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .part2{
            width: 860px;
            height: 650px;
            position: absolute;
            top: 6px;
            right: -50px;
        }
        .part3{
            position: absolute;
            top: 50px;
            right: 485px;
        }
        .part4{
            position: absolute;
            top: 35px;
            right: 35px;
        }
        .part5{
            position: absolute;
            top: 360px;
            right: -20px;
        }
        .part6{
            position: absolute;
            top: 510px;
            right: 400px;
        }
        .part7{
            position: absolute;
            top: 270px;
            right: 540px;
        }
    }
} 

.main-step{
    background-color: rgb(244, 249, 249);
    min-height: 450px;
    padding-top: 75px;

    .steps{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 50px;

        .step{
            width: 320px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;

            div{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgb(218, 233, 241);
                padding: 5px;
                font-size: 40px;
                margin-bottom: 5px;
            }

            span{
                line-height: 32px;
                font-size: 20px;
                color: rgb(60, 60, 60);
                font-weight: 500;
                margin-bottom: 18px;
            }

            p{
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
                color: rgb(0, 0, 0, 0.5);
            }
        }
    }
}

.main-doctor{
    min-height: 580px;
    background-color: rgb(244, 249, 249);

    .doctor{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .info-doctor{
            max-width: 475px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3{
                font-size: 42px;
                font-weight: 500;
                line-height: 50px;
                color: #3D3D3F;
                text-align: left;
                margin-bottom: 25px;
            }
            
            p{
                font-size: 18;
                line-height: 30px;
                color: rgb(60, 60, 60, 0.7);
                letter-spacing: 0.05em;
                text-align: left;
                margin-bottom: 10px;
            }

            span{
                margin-bottom: 10px;
            }
            
            div{
                width: 200px;
                height: 50px;
                background-color:#40A3F8;
                border-radius: 5px;
                color: white;
                padding: 12px;
                margin-top: 20px;
            }
        }
    }
}

.main-services{
    padding-top: 200px;
    background-color: rgb(244, 249, 249);

    .main-s{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        h3{
            font-size: 42px;
            line-height: 50px;     
            font-weight: 500; 
            color: #3D3D3F;
            letter-spacing: 0.02em;
            margin-bottom: 25px;

        }
        
        .title-services{
            max-width: 500px;
            font-size: 18px;
            font-weight: 400;
            word-spacing: 1px;
            color: rgb(60, 60, 60, 0.7);
            line-height: 30px;

        }

        .type-services{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 30px;

            .type{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 100px;
               

                span{
                    display: block;
                    font-size: 32px;
                    color: #3D3D3F;
                    align-self: flex-start;

                    img{
                        position: relative;
                        top: -5px;
                        width: 50px;
                        height: 50px;
                    }
                }

                .card-service{
                    max-width: 350px;
                    overflow: hidden;
                    border-radius: 15px;
                    background-color: white;
                    box-shadow: 0 0 12px #99D4ED;
                    margin: 10px;
                    padding-bottom: 10px;

                    @media (max-width: 990px) {
                        max-width: 300px;
                    }
                    @media (max-width: 770px) {
                        max-width: 250px;
                    }
                    
                    .img{
                        width: 100%;
                        height: 220px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        border-radius: 15px 15px 0 0;
                    }
                    
                    h4{
                        font-size: 18px;
                        font-weight: 500;
                        color: #3D3D3F;
                        margin: 20px 0 10px 0;
                    }

                    p{
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 400;
                        text-align: center;
                        color: rgba(153, 153, 153, 1);
                    }
                    
                }
            }
        }
    }   
}





.container{
    width: 1170px; 
    padding: 0 !important;    
}